# Python
__pycache__/
*.pyc
.pytest_cache/

# Virtual Environments
venv/
.venv/
env/

# Databases
*.db
*.sqlite3

# Cryptography Keys (NEVER PUSH PRIVATE KEYS)
keys/

# IDEs and OS
.vscode/
.idea/
.DS_Store

# Temporary Exports
*.json

# Proprietary Documents
docs/

# Testing
.coverage
